# Magic behaviour with __get, __set, __call and __callStatic is not exactly static analyser-friendly :)
# Fortunately, You can ignore it by the following config.
#

parameters:
  level: 1
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 32
    minimumNumberOfJobsPerProcess: 2
  inferPrivatePropertyTypeFromConstructor: true
  treatPhpDocTypesAsCertain: true
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
  excludePaths:
    - %currentWorkingDirectory%/src/helper/*
    - %currentWorkingDirectory%/tests/*
    - %currentWorkingDirectory%/src/*/publish/*
    - %currentWorkingDirectory%/src/*/class_map/*
    - %currentWorkingDirectory%/src/foundation/src/helpers.php
    - %currentWorkingDirectory%/src/foundation/src/Testing/Concerns/*
    - %currentWorkingDirectory%/src/foundation/src/Testing/Constraints/*
    - %currentWorkingDirectory%/src/foundation/src/Http/WebsocketKernel.php
    - %currentWorkingDirectory%/src/foundation/src/Macros/RequestMacro.php
    - %currentWorkingDirectory%/src/log/src/Adapter/*
  ignoreErrors:
    - '#Result of method .* \(void\) is used\.#'
    - '#Unsafe usage of new static#'
    - '#Class [a-zA-Z0-9\\\\_]+ not found.#'
    - '#Constant BASE_PATH not found.#'
    - '#Call to an undefined static method SwooleTW\\Hyperf\\Support\\Facades\\#'
    - message: '#Call to an undefined method SwooleTW\\Hyperf\\Foundation\\Testing\\TestCase::#'
      path: src/foundation/src/Testing/TestCase.php
    - message: '#Parameter \$request of anonymous function has invalid type Hyperf\\Validation\\Request\\FormRequest.#'
      path: src/foundation/src/Providers/FormRequestServiceProvider.php
    - message: '#Variable \$response might not be defined.#'
      path: src/foundation/src/Http/Kernel.php